<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "BreadNet" %></title>

    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/paper/bootstrap.min.css" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "https://code.jquery.com/jquery-1.11.3.min.js" %>
    <%= javascript_include_tag  "https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" %>
    <%= javascript_include_tag  "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js" %>
    <%= javascript_include_tag  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <header>
      <div class='navbar navbar-default navbar-static-top'>
        <div class='container-fluid'>
          <div class='navbar-header.header'>
            <ul class='nav navbar-nav navbar-right pull-right'>
              <li class='dropdown'>
                <a class='dropdown-toggle' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Productos <span class='caret'>
                </a>
                <ul class='dropdown-menu'>
                  <% data.breadnet.producto.each do |id, producto| %>
                  <li>
                  <a href="<%= producto.slug %>"><%= producto.nombre %></a>
                  </li>
                  <% end %>
                </ul>
              </li>
              <% data.breadnet.pagina.each do |id, pagina| %>
                <li>
                  <a href="<%= pagina.link %>"><%= pagina.titulo %></a>
                </li>
              <% end %>
              <li>
                <a href="/contact.html">Contacto</a>
              </li>
            </ul>
            <a class='brand' href="/">
              <div class='logo-container'>
                <% logo = data.breadnet.logo.first[1] %>
                <% unless logo.nil? %>
                  <% unless logo.imagen.nil? %>
                    <img src="<%= logo.imagen.url %>" alt="<%= logo.descripcion %>"} />
                  <% else %>
                    <h3><%= logo.nombre %></h3>
                  <% end %>
                <% else %>
                  <h3>Bread Net</h3>
                <% end %>
              </div>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class='container-fluid'>
      <%= yield %>
    </div>

    <div class='clearfix'>
      <br />
    </div>

    <footer class='text-center'>
      <p>Elaborador Artesanales del Sur S.R.L. Berazategui - Av. Mitre 3318 Berazategui - Pcia. de Buenos Aires - Tel: (011) 4258-8069 | <a href="https://facebook.com/breadnet"><i style='color: darkblue;' class="fa fa-facebook-square fa-lg"></i></a></p>
    </footer>
  </body>
</html>
